@font-face {
        font-family: 'apoloniaregular';
        src: url('fonty/apolonia-webfont.eot');
        src: local(" "), 
             src: url('fonty/apolonia-webfont.woff') format('woff'), 
             url('fonty/apolonia-webfont.ttf') format('truetype'), 
             url('fonty/apolonia-webfont.svg#apoloniaregular') format('svg');
        font-weight: 100;
        font-style: normal;
    }

body {
        background-image: url(images/ebola.jpg);
    }

    h1{
    font-family: 'apoloniaregular';
    text-align: center;
    }

    h3 {
        font-family: 'apoloniaregular';
        text-align: center;
    }

    p{
    font-family: 'apoloniaregular';
    text-align: justify;
    word-break:break-word;
    }
    






